/* Master Styles */
body {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%
}

.form-control:focus {
    outline: 0;
}

.btn {
    background: #b4e2f6;
    border: 0px;
}

.btn:hover {
    background: #8ccfed;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

img {
    width: 100%
}

.y {
    background-color: yellow;
}

.z {
    font-weight: bold;
}

.co {
    background-color: #F2F5A9
}

.r {
    background-color: #F6D8CE
}

.c {
    background-color: #CEF6CE
}

.c2 {
    background-color: #abf7ab
}

.ErrorRow {
    color: red;
}

.ErrorCell {
    color: red;
}

.indicatorUp {
	padding-right: 18px;
	margin-right: 4px;
	background-image: url('/IndicatorUp.png');
	background-repeat: no-repeat;
	background-position: right; 
}

.indicatorDown {
	padding-right: 18px;
	margin-right: 4px;
	background-image: url('/IndicatorDown.png');
	background-repeat: no-repeat;
	background-position: right; 
}

.indicatorEqual {
	padding-right: 18px;
	margin-right: 4px;
	background-image: url('/IndicatorEqual.png');
	background-repeat: no-repeat;
	background-position: right; 
}

