<table [ngClass]="json.CssClass">
  <!-- Header -->
  <tr>
    <th *ngFor="let column of json.ColumnList; trackBy trackBy" (click)="clickSort(column, $event);" >
      <div style="display:flex; white-space:nowrap;">
        <div style="flex:1; overflow:hidden;">
          <i *ngIf="column.IsSort==false" class="fas fa-caret-up colorWhite"></i>
          <i *ngIf="column.IsSort==true" class="fas fa-caret-down colorWhite"></i>
          {{ column.Text }}
        </div>
        <div style="padding-left:2px;">
          <i *ngIf="column.IsClickSort" class="fas fa-spinner fa-spin colorWhite"></i>
          <i class="fas fa-cog colorWhite colorBlueHover pointer" title="Config data grid column" (click)="clickConfig(column, $event);"></i>
        </div>
      </div>
    </th>
  </tr>

  <!-- Row -->
  <ng-container *ngFor="let row of json.RowList; trackBy trackBy">
    <tr [ngClass]="{'gridRowIsSelect':row.IsSelect}" (click)="clickRow(row, $event)">
      <td *ngFor="let cell of row.CellList; trackBy trackBy" [ngClass]="{'gridRow':row.RowEnum==2||row.RowEnum==3, 'gridRowFilter':row.RowEnum==1}">
        <div style="display:flex; align-items: stretch; overflow: hidden;">

          <div *ngIf="cell.HtmlLeft" style="display: flex; align-items: center; margin-right: 2px;">
            <div [innerHTML]="cell.HtmlLeft"></div>
          </div>

          <div style="display:flex; flex-grow:1; flex-direction: column;">
            <input *ngIf="!cell.IsPassword && !(cell.Html && !cell.HtmlIsEdit)" [readonly]="cell.IsReadOnly" style="flex-grow:1;" type="text" [(ngModel)]="cell.Text" placeholder="{{cell.Placeholder}}" (focusin)=focus(row) (ngModelChange)="ngModelChange(cell)">
            <input *ngIf="cell.IsPassword && !(cell.Html && !cell.HtmlIsEdit)" [readonly]="cell.IsReadOnly" style="flex-grow:1;" type="password" [(ngModel)]="cell.Text" placeholder="{{cell.Placeholder}}" (focusin)=focus(row) (ngModelChange)="ngModelChange(cell)">
            <div *ngIf="cell.Html" style="flex-grow:1; display: flex; align-items: center;" [innerHTML]="cell.Html"></div>
          </div>

          <div style="display: flex; align-items: center; margin-left:2px;">
            <div *ngIf="cell.HtmlRight" [innerHTML]="cell.HtmlRight"></div>
            <i *ngIf="cell.IsReadOnly" class="fas fa-lock colorBlack"></i>
            <i *ngIf="cell.ErrorParse!=null" class="fas fa-exclamation-circle text-danger" title="{{ cell.ErrorParse }}"></i>
            <i *ngIf="cell.IsModify" class="fas fa-spinner fa-spin colorBlack"></i>
            <i *ngIf="row.RowEnum==1" class="fas fa-search colorBlack" title="Search"></i>
            <i *ngIf="row.RowEnum==3" class="fas fa-plus" title="Add new data record" style="color:#FACC2E"></i>
          </div>
        </div>
        <div data-Grid *ngIf="cell.IsLookup && json.List?.length > 0" [json]="json.List[0]" class="gridLookup"></div>
      </td>
    </tr>
    <tr *ngIf="row.ErrorSave!=null">
      <td [attr.colspan]="row.CellList.length" class="errorSave">
        {{row.ErrorSave}}
      </td>
    </tr>
  </ng-container>
</table>

<div class="colorBlue" [ngClass]="json.CssClass">
  <i class="fas fa-chevron-circle-up colorBlueHover pointer" title="Page up" (click)="clickGrid(1, $event);"></i>
  <i class="fas fa-chevron-circle-down colorBlueHover pointer" title="Page down" (click)="clickGrid(2, $event);"></i>
  &nbsp;&nbsp;
  <i class="fas fa-chevron-circle-left colorBlueHover pointer" title="Navigate left" (click)="clickGrid(3, $event);"></i>
  <i class="fas fa-chevron-circle-right colorBlueHover pointer" title="Navigate right" (click)="clickGrid(4, $event);"></i>
  &nbsp;&nbsp;
  <i class="fas fa-cog colorBlueHover pointer" title="Config data grid" (click)="clickGrid(6, $event);"></i>
  <i class="fas fa-sync colorBlueHover pointer" title="Reload data" (click)="clickGrid(5, $event);"></i>
</div>
