/* Master Styles */
body {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%
}

.form-control:focus {
    outline: 0;
}

.btn {
    background: #b4e2f6;
    border: 0px;
}

.btn:hover {
    background: #8ccfed;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

img {
    width: 100%
}

.gridUp {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridUp.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridDown {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridDown.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridEqual {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridEqual.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridFilter {
    padding-right: 18px;
    margin-right: 2px;
    background-image: url('/GridFilter.png'), linear-gradient(to bottom, #808080, #fff);
    background-repeat: no-repeat;
    background-position: right;
}

.gridNew {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridNew.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridColumn {
    right: 10px;
    background-color: #5858FA;
    border-right: solid 2px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 100%;
    background: linear-gradient(to bottom, #5858FA, #81BEF7);
}

.y {
    background-color: yellow;
}

.z {
    font-weight: bold;
}

.co {
    background-color: #F2F5A9
}

.r {
    background-color: #F6D8CE
}

.c {
    background-color: #CEF6CE
}

.c2 {
    background-color: #abf7ab
}

.ErrorRow {
    color: red;
}

.ErrorCell {
    color: red;
}
