/* Master Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

input {
    height: 2rem; /* Input box is bigger than normal text. See also body.line-height. */
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    outline: 0;
}

.btn {
    background: #AECFFF;
    border: 0px;
    padding: 0;
}

    .btn:hover {
        background: #8ccfed;
        cursor: pointer;
    }

    .btn:focus {
        outline: 0;
    }

img {
    width: 100%
}

.gridCell {
    /* See also: file Submodule/Client/src/app/component.ts */
    border-top: 1px solid rgba(255, 255, 255, 0.0);
    border-bottom: 1px solid lightgray;
    margin-right: 2px;
}

.gridFieldWithLabelLeft {
    width: 33%;
    float: left;
    padding-left: 16px;
}

.gridFieldWithLabelRight {
    width: 67%;
    float: left;
    border-bottom: 1px solid lightgray;
}

.labelGroup {
    margin-top: 16px;
    margin-bottom: 4px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.select-class1 {
    background-color: rgba(204, 199, 69, 0.4);
}

.select-class2 {
    background-color: rgba(204, 199, 69, 0.2);
}

.select-class3 {
    background-color: rgba(204, 199, 69, 0.6);
}

.select-class {
    border: 1px solid rgba(0, 64, 255, 0.7);
}

.gridUp {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridUp.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridDown {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridDown.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridEqual {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridEqual.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridError {
    padding-left: 18px;
    margin-left: 4px;
    background-image: url('/GridError.png');
    background-repeat: no-repeat;
    background-position: left;
}

.gridWarning {
    padding-left: 18px;
    margin-left: 4px;
    background-image: url('/GridWarning.png');
    background-repeat: no-repeat;
    background-position: left;
}

.gridOk {
    padding-left: 18px;
    margin-left: 4px;
    background-image: url('/GridOk.png');
    background-repeat: no-repeat;
    background-position: left;
}

.gridFilter {
    padding-right: 18px;
    background-image: url('/GridFilter.png'); /* fallback */
    background-repeat: no-repeat;
    background-position: right;
}

.gridReadOnly {
    padding-right: 18px;
    background-image: url('/GridReadOnly.png'); /* fallback */
    background-repeat: no-repeat;
    background-position: right;
    color: gray;
}

.gridRowFilter {
    background-image: linear-gradient(to bottom, #808080, #fff); /* W3C */
}

.gridNew {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridNew.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridSave {
    padding-right: 18px;
    margin-right: 4px;
    background-image: url('/GridSave.png');
    background-repeat: no-repeat;
    background-position: right;
}

.gridColumn {
    right: 10px;
    background-color: #7CB1CC;
    border-right: solid 1px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 100%;
    background: linear-gradient(to bottom, #7CB1CC, #AECFFF);
}

.gridLookup {
    position: absolute;
    background-color: white;
    border: 2px solid rgba(0, 64, 255, 0.7);
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
}

.floatLeft {
    float: left;
}

.backgroundColorBlue {
    background-color: rgba(64, 64, 255, 0.5);
}

.backgroundColorGreen {
    background-color: rgba(64, 255, 64, 0.5);
}

.selector {
    display: none; /* Prevent line break after data-Selector */
}

.y {
    background-color: yellow;
}

.z {
    font-weight: bold;
}

.co {
    background-color: #F2F5A9
}

.r {
    background-color: #F6D8CE
}

.c {
    background-color: #CEF6CE
}

.c2 {
    background-color: #abf7ab
}

.ErrorRow {
    color: red;
}

.ErrorCell {
    color: red;
}
